#wrapper {
    display: inline-grid;
    grid-template-columns: repeat(16, 25px);
    grid-template-rows: repeat(16, 25px);
    border: 1px solid black;
}

.tile {
    border: 0px solid black;
    width: 25px;
    height: 25px;
}